/* 본 내용 */
.wrapper { 
	margin: 50px 0px 250px 0px;
	padding: 32px 10px;
	max-width: 1600px;
	text-align: center;
	overflow: auto;
}

/* button container */
.buttons {
	width : 100%
}

/* button body */
.hitbutton {
	margin: 3px;
}

.cards {
	margin: 5 5 auto;
}

/* single scorecard body */
.scorecard {
	position: relative;
	margin: 0;
	padding: 10px 10px;
	aspect-ratio: 10.5 / 1;
}

.framebox {
	width: 7.6%;
	height: 100%;
	border: solid thin Black;
	padding: 0;
	background : whitesmoke;
}

.framebox.last {
	width: 8.8%;
}

.framebutton {
	width: 100%;
	height: 100%;
}

.framename {
	top : 0px;
	height: 20%;
	width: 100%;
	background-color: #bbbb9d;
	border-bottom : solid thin Black;
}

.content_body {
	width: 100%;
	height: 80%;
	top: 20%;
}

.outerbox {
	width: 100%;
	height: 50%;
}

.framescorebox {
	top: 50%;
	width: 100%;
	height: 50%;
}

.ballbox {
	width: 50%;
	height: 100%;
	float: left;
}

.strikebox {
	width: 50%;
	height: 100%;
	float : right;
	border-left : solid thin Black;
	border-bottom : solid thin Black;
}

.strikebox.last {
	width: 33.33%;
	float: left;
	left : 66.66%;
}

.strikebox.last.first {
	border-left:none;
	left : 0px;
}

.strikebox.last.second {
	left : 33.33%;
}

.text {
	font-size: 0.5rem;
	text-align: center;
	width: 100%;
	height: 100%;
	margin:0 0 auto;
}

.text.data {
	font-size: 1rem;
}

.otherBox {
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
}

.selected {
	background : Khaki;
}

@media screen and (max-width: 767px){
	.myad {
		visibility: hidden;
	}
	
	.hitbutton.hit {
		margin: 2px;
		width: 22px;
		padding: 0;
	}
	
	.scorecard {
		position: relative;
		margin: 0;
		padding: 10px 10px;
		/* aspect-ratio: 10.5 / 1; */
		flex-wrap: wrap;
	}
	
	.framebox {
		width: 50px;
		height: 60px;
		border: solid thin Black;
		padding: 0;
		background : whitesmoke;
	}
	
	.framebox.last {
		width: 60px;
	}
	
	.text {
		font-size: 0.3rem;
	}

	.text.data {
		font-size: 1rem;
	}
	
	.selected {
		background : Khaki;
	}
}